*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: 100;
	color: #193A54;	
}

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
}

.app {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header {
	display: flex;
	border-bottom: 1px solid #193A54;
	flex-basis: 10%;
	min-height: 80px;
}

header #search {
	flex-basis: 100%;
	padding: .6rem .5rem;
	font-size: 1.6rem;
	outline: none;
	border: none;
}

header #search::placeholder {
	font-style: italic;
	opacity: .5;
}

.filters {
	border-bottom: 1px solid #193A54;
	padding: .6rem .5rem;
	flex-basis: 5%;
	min-height: 35px;
}

.content {
	display: flex;
	flex-basis: 75%;
	min-height: 400px;
	border-bottom: 1px solid #193A54;
}

.content aside {
	display: flex;
	flex-basis: 30%;
	border-right: 1px solid #193A54;
}

.content aside #company-list {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: auto;
}

.content aside #company-list li {
	list-style: none;
	padding: .6rem .5rem;
	border-bottom: 1px solid #193A54;
}

.content aside #company-list li:last-child {
	border-bottom: none;
}

.content aside #company-list li:hover {
	cursor: pointer;
	background: #193A54;
	color: #fff;
}

.content #company-info {
	flex-basis: 70%;
	padding: .6rem .5rem;
	overflow: auto;
}

.content #company-info h2 {
	margin: 0 0 .3rem 0;
}

.content #company-info .avatar img {
	margin: 0 0 .3rem 0;
	max-width: 100%;
	max-height: 20rem;
}

footer.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-basis: 10%;
	min-height: 80px;
}

footer.pagination button {
    border: none;
    background: #fff;
    font-size: 1.5rem;
    outline: none;
    padding: .5rem .5rem;
}

footer.pagination button:hover {
    color: #FF8F12;
    cursor: pointer;
}

footer.pagination span {
    font-size: 1.5rem;
    padding: .5rem .5rem;
}

.hidden {
	visibility: hidden;
}